<?xml version="1.0"?>
<robot name="break_beam_gazebo" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="break_beam_gazebo" params="prefix">

    <gazebo reference="${prefix}base_link">
      <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="${prefix}optical_link">
      <material>Gazebo/Black</material>

      <sensor name="${prefix}sensor" type="ray">
        <pose>0 0 0 0 0 0</pose>
        <visualize>true</visualize>
        <update_rate>10.0</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>50</samples>
              <resolution>1</resolution>
              <min_angle>0</min_angle>
              <max_angle>0</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.10</min>
            <max>0.6</max>
            <resolution>0.01</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.01</stddev>
          </noise>
        </ray>
        <always_on>1</always_on>
        <plugin name="${prefix}controller" filename="libROSProximityRayPlugin.so" >
          <topicName>laser/scan</topicName>
          <frameName>${prefix}optical_link</frameName>
        </plugin>
      </sensor>
    </gazebo>

    <gazebo>
      <static>true</static>
    </gazebo>

  </xacro:macro>
</robot>
