<?xml version="1.0"?>
<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="rviz" default = "false"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="extra_gazebo_args" default="--verbose"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find hrwros_gazebo)/worlds/hrwros.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)"/>
  </include>

  <!-- Load the URDF into the ROS Parameter Server -->
  <include file="$(find hrwros_support)/launch/load_hrwros.launch"/>

  <!-- Start move_group -->
  <include file="$(find week4_moveit_config)/launch/move_group.launch"/>

  <!-- Spawn the URDF objects into Gazebo -->
  <include file="$(find hrwros_gazebo)/launch/spawn_static_world_objects.launch"/>
  <include file="$(find hrwros_gazebo)/launch/spawn_robots.launch"/>
  <node pkg="hrwros_utilities" type="timed_roslaunch.sh" name="timed_roslaunch" output="screen"
    args="7 hrwros_week5 spawn_turtlebot_week5.launch" />

  <!-- Start the conveyor spawner node -->
  <node name="conveyor_spawner" pkg="hrwros_gazebo" type="conveyor_spawner_node" output="screen">
    <rosparam command="load" file="$(find hrwros_week5)/config/turtlebot_object.yaml"/>
    <remap from="/start_spawn" to="/spawn_object_on_turtlebot"/>
  </node>

  <node name="spawn_object_once" pkg="hrwros_utilities" type="spawn_object_once.py" output="screen"/>

  <!-- Velocity muxer and controller for turtlebot-->
  <node pkg="nodelet" type="nodelet" name="mobile_base_nodelet_manager" args="manager"/>
  <node pkg="nodelet" type="nodelet" name="cmd_vel_mux"
        args="load yocs_cmd_vel_mux/CmdVelMuxNodelet mobile_base_nodelet_manager">
    <param name="yaml_cfg_file" value="$(find hrwros_gazebo)/param/mux.yaml" />
    <remap from="cmd_vel_mux/output" to="mobile_base/commands/velocity"/>
  </node>

  <!-- Fake laser -->
  <node pkg="nodelet" type="nodelet" name="laserscan_nodelet_manager" args="manager"/>
  <node pkg="nodelet" type="nodelet" name="depthimage_to_laserscan"
        args="load depthimage_to_laserscan/DepthImageToLaserScanNodelet laserscan_nodelet_manager">
    <param name="scan_height" value="10"/>
    <param name="output_frame_id" value="/camera_depth_frame"/>
    <param name="range_min" value="0.45"/>
    <remap from="image" to="/camera/depth/image_raw"/>
    <remap from="scan" to="/scan"/>
  </node>

  <!-- Workaround for MoveIt! PSM warnings: Elevate the logger level of MoveIt! PSM to error-->
  <include file="$(find hrwros_gazebo)/launch/set_psm_logger.launch"/>

  <!-- We don't navigate autonomously with the Turtlebot. But move_base will not be happy if we spawn turtlebot too far away from the map origin. Hence, avoid warnings only for this assignment -->
  <!-- Workaround for MoveIt! PSM warnings: Elevate the logger level of MoveIt! PSM to error-->
  <include file="$(find hrwros_week5)/launch/set_move_base_logger.launch"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <rosparam param="source_list">[/robot1/joint_states,/robot2/joint_states]</rosparam>
    <remap from="/joint_states" to="/combined_joint_states"/>
  </node>

  <!-- Start AMCL -->
  <include file="$(find turtlebot_gazebo)/launch/amcl_demo.launch">
    <arg name="initial_pose_x" value="-8.3" />
    <arg name="initial_pose_y" value="-1.23" />
  </include>

  <!-- Start RVIZ with Gazebo if necessary -->
  <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find hrwros_support)/config/hrwros.rviz"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robots_state_publisher">
    <param name="publish_frequency" type="double" value="50.0"/>
    <remap from="/joint_states" to="/combined_joint_states"/>
  </node>

  <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_target1" args="0.13 1.44 0 0 0 0 1  map turtlebot_target1"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_target2" args="-8.1 -1.43 0 0 0 0 1  map turtlebot_target2"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_world" args="0 0 0 0 0 0 1  map world"/>

</launch>
